
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Viga&display=swap');
h1{
    font-family: 'Viga', sans-serif;
}

body{
    background-image: url('/images/background-reduced.jpg');
    background-size: contain;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

.custom-section{
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 100%;
    
}

.custom-effect{
    border-radius: 5px;
}
.custom-effect:hover{
    border: 2px solid lightgreen;
}